@model Oasis.Models.Paquete

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Paquete</h1>


<hr />
<form asp-action="Create">
   <div class="row">
       <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePaquete" class="control-label"></label>
                <input asp-for="NombrePaquete" class="form-control" />
                <span asp-validation-for="NombrePaquete" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="CodigoHabitacion" class="control-label"></label>
                <input asp-for="CodigoHabitacion" class ="form-control" asp-items="ViewBag.CodigoHabitacion">
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-dark">Atrás</a>
            </div>
       </div>
   </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
