    @model Oasis.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Usuario</h1>

<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
               
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Documento" class="form-control" placeholder="Documento" required/>
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Nombre" class="form-control" placeholder="Nombre" required/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Apellido" class="form-control" placeholder="Apellido" required/>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Celular" class="form-control" placeholder="Celular" required/>
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Correo" class="form-control" placeholder="Correo" required/>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Ciudad" class="form-control" placeholder="Ciudad" required />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>

        </div>

        <div class="col-md-4">

            <div class="form-group">
                
                <select asp-for="Genero" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                    <option selected disabled>  Selecciona  </option>
                    <option>  Masculino  </option>
                    <option>  Femenino  </option>
                    <option>  Prefiero no decirlo  </option>
                </select>
                <span asp-validation-for="Genero" class="text-danger" required></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Contraseña" class="form-control" placeholder="Contraseña" required/>
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            

            <br />

            <div class="form-group">
                <input asp-for="Telefono" class="form-control" placeholder="Telefono" required/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input asp-for="Direccion" class="form-control" placeholder="Dirección" required/>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <br />

            @* <br />

            <div class="form-group">
                <select asp-for="Estado" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected disabled>  Selecciona  </option>
                    <option>  Activo  </option>
                    <option>  Inactivo  </option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <input asp-for="FechaNacimiento" class="form-control" placeholder="Fecha Nacimineto" required />
                <span asp-validation-for="FechaNacimiento" class="text-danger" required></span>
            </div>

            <br />

            <div class="form-group">
                
                <input asp-for="CodigoRol" class ="form-control" asp-items="ViewBag.CodigoRol" placeholder="Codigo Rol" required>
            </div>

            <br />

            <div class="form-group">
               
                <input asp-for="CodigoTipoDoc" class ="form-control" asp-items="ViewBag.CodigoTipoDoc" placeholder="Codigo Tipo Documento" required>
            </div>

            <br />

        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />  |
        <a asp-action="Index" class="btn btn-dark">Atrás</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
