@model Oasis.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    
</head>
<body>
    <div class=" mt-4">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-md-6">
                
                <form asp-controller="Inicio" asp-action="Registrarse" method="post" >
                    <div class="container">
                        <div class="text-center">
                            <h2>Crear Cuenta</h2>
                        </div>
                        <div class="forms-container" >
                            <div class="row">
                            
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="input-group" required>
                                        <select id="tipoDocumento" name="TipoDocumento" required>
                                            <option disabled selected>Tipo de documento</option>
                                            <option value="1">Tarjeta de identidad</option>
                                            <option value="2">Cédula de ciudadanía</option>
                                            <option value="3">Tarjeta de extranjería</option>
                                            <option value="4">Cédula de extranjería</option>
                                            <option value="5">Pasaporte</option>
                                            <option value="6">Tipo de documento extranjero</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        
                                        <input asp-for="Documento" class="form-control" placeholder="Documento" required />
                                        <span asp-validation-for="Documento" class="text-danger" placeholder="Documento" required></span>
                                    </div>

                                    <div class="form-group">
                                        
                                        <input asp-for="Nombre" class="form-control" placeholder="Nombre" required />
                                        <span asp-validation-for="Nombre" class="text-danger" required></span>
                                    </div>

                                    <div class="form-group">
                                        
                                        <input asp-for="Apellido" class="form-control" placeholder="Apellido" required />
                                        <span asp-validation-for="Apellido" class="text-danger"  required></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Celular" class="form-control" placeholder="Celular" required />
                                        <span asp-validation-for="Celular" class="text-danger" required></span>
                                    </div>

                                    

                                    <div class="form-group">

                                        <input asp-for="Telefono" class="form-control" required placeholder="Telefono" />
                                        <span asp-validation-for="Telefono" class="text-danger" required></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <input asp-for="FechaNacimiento" class="form-control" placeholder="Fecha Nacimineto" required />
                                        <span asp-validation-for="FechaNacimiento" class="text-danger" required></span>
                                    </div>


                                    <div class="form-group">

                                        <select asp-for="Genero" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                                            <option selected disabled>  Genero  </option>
                                            <option>  Masculino  </option>
                                            <option>  Femenino  </option>
                                            <option>  Helicoptero  </option>
                                            <option>  Terodactilo  </option>
                                            <option>  Prefiero no decirlo  </option>
                                        </select>
                                        <span asp-validation-for="Genero" class="text-danger" placeholder="Genero"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Ciudad" class="form-control"  placeholder="Ciudad" required />
                                        <span asp-validation-for="Ciudad" class="text-danger" required></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Direccion" class="form-control" placeholder="Dirección" required />
                                        <span asp-validation-for="Direccion" class="text-danger" required></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Correo" class="form-control" placeholder="Correo" required />
                                        <span asp-validation-for="Correo" class="text-danger" required></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Contraseña" class="form-control" required placeholder="Contraseña"/>
                                        <span asp-validation-for="Contraseña" class="text-danger" required></span>
                                    </div>

                                    
                                </div>

                            </div>
                            <br />
                            <div class="d-grid gap-1 mb-3">
                                <button class="btn btn-primary" type="submit">Crear</button>
                            </div>
                            <div class="text-center">
                                ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion","Inicio")">Iniciar Sesión</a>
                            </div>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }

                       
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datableSimpleDemo.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
    <script src="~/js/datableDemo.js"></script>
</body>
</html>

